Resolver does not work for some URLs with CNAME


##Details of the issue
Some URLs after querying a root server does not contain the IP address information in the additional data section of the DNS packet.

Namely, this happens when the DNS resolution process uses canonical name alias to map the answer to the canonical name of the resource being queried. As per RFC 1035 and RFC 1034, a query of type A when the resource being queried uses canonical names (CNAME), it will return in the answers section two rows: one containing the map of the URL queried and the canonical name, and another one containing the map of the CNAME and the IP address (for more details see RFC 1034, [Section 3.6.2](https://datatracker.ietf.org/doc/html/rfc1034#section-3.6.2) -  Aliases and canonical names)

## Reproducible steps attached?
- [X] Yes
- [ ] No

tip: check class DNSAnswer, LoC 54 - it should read "answers", and not the questions offset.

current version of DNS resolver does not support CNAME resolution. Working on it

closed as feature was added in commit 48c90e2
